{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	|| Acceuil forum
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags("sidebar") }}
	{{ encore_entry_link_tags("homeForum") }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-xl-3 col-xxl-2 sidebar">
			{% include 'component/_forum_sidebar.html.twig' %}
		</div>
		<div data-bs-spy="scroll" data-bs-target="#sidebar" data-bs-offset="0" data-bs-smooth-scroll="true" class="col-xl-9 col-xxl-10 p-4" tabindex="0">
			<div class="bg-dark div-light d-none d-xl-block position-relative row"></div>
			<div class="imgHomeForum d-flex justify-content-center align-items-center shadow">
				<div class="mx-4 d-flex flex-column align-items-center justify-content-center shadow">
					<h1 class="welcome text-light m-0">
						Bienvenue sur le forum
					</h1>
					<h1 class="welcome text-light m-0">
						des terres d'Acionna
					</h1>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
