{% extends 'layout.html.twig' %} {% block title %}
{{ parent() }}
|| Accueil {% endblock %} {% block stylesheets %}
{{ encore_entry_link_tags("home") }}
{% endblock %} {% block body %}
<div class="imgHome d-flex justify-content-center align-items-center shadow">
    <div class="mx-4 d-flex flex-column align-items-center shadow">
    <h1 class="welcome text-light m-0">
      Bienvenue
    </h1>
    <h1 class="welcome text-light m-0 px-3">
        Les terres d'Acionna
      </h1>
    </div>
</div>

{% endblock %}
