<h1>Bonjour !</h1>
<h2>Votre inscription est presque terminée, il faut être connecté au site les terres d'acionna pour que cela fonctionne</h2>
<br>
<p>Une fois que vous avez validez l'email de confirmation, vous recevrez un email quand le bureau de l'association des terres d'acionna aura activer votre compte. </p>
<br>
<hr>
<p>
    S'il vous plait, confirmez votre adresse email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmation de l'Email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
<br>
<p>
    Bonne journée à vous !
</p>
