{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} || Email de réinitialisation envoyé{% endblock %}

{% block body %}
    <p class="my-3">
        Si un compte correspondant à votre adresse e-mail existe,
        un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
    </p>
    <p class="my-3">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}"> essayer encore.</a>.</p>
{% endblock %}
