@import "variable.scss";
@import "navbar.scss";

@import "~bootstrap/scss/bootstrap";

body{
    background-color: $back;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    font-family: $font-family-title;
}

.flashBorder {
    border-color: $primary;
    border-width: $borderWidth;
}

.pageHeight{
    min-height: 74vh;
}