@import "variable.scss";

.grad {
    background: #0c0000;
    background: linear-gradient(
        45deg,
        rgb(166, 0, 0) 10%,
        rgb(166, 0, 0) 20%,
        #0c0000 20%,
        #0c0000 40%
    ),
}

.footerLink {
    text-decoration: none;
    font-family: $font-family-title;
    color: $light;
}

.footerLink:hover{
    color: $primary;
}

.up{
    color: $light;
}

.up:hover {
 color: $dark;
}
