@import "variable.scss";

.imgHomeForum {
    height: 80vh;
    background-image: url("../images/homeForum.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.eventCard {
    height: clamp(30rem, 5vh, 37rem);
    width: clamp(20rem, 5vw, 30rem);
}

.card-img-top {
    height:14rem ;
}

.advertisementCard {
    height: clamp(16.5rem, 5vh, 37rem);
    width: clamp(20rem, 5vw, 30rem);
}

