@import "variable.scss";

.imgHomeForum {
    height: 80vh;
    background-image: url("../images/homeForum.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    height: clamp(30rem, 5vh, 37rem);
    width: clamp(20rem, 5vw, 30rem);
}

.card-img-top {
    height:14rem ;
}

.eventImg {
    height: 67vh;
    width: clamp(21.5rem, 75vw, 74.5rem );
}

.formStyle {
    border-color: $primary;
    border-radius: $border;
    outline-color: $primary;
    background-color: $dark;
    color: $light;
    appearance: listbox;
}

.formStyle:focus{
    background-color: $primary;
    color: $light;
}

.backImg {
    background-image: url("../images/events/backgroundForum.jpeg");
    background-position: center;
    background-size: content;
    background-repeat: repeat-y;
   
}