@import "variable.scss";

.bgLogin {
    height: 84vh;
    background-image: url("../images/login/connexion.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgReset {
    height: 84vh;
    background-image: url("../images/login/connexion.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgRegister {
    height: 84vh;
    background-image: url("../images/login/connexion.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.marge{
    margin-top: 7rem;
}

.color {
    color: blueviolet;
}

.margeCheck {
    margin-top: 15rem;
}

.required {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.margeReset {
    margin-top: 7rem;
}

.box {
    width: 80%;
}

.box div input {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .marge {
    margin-top: 5rem;
    }

    .bgLogin {
        height: 73vh;
    }
    
    .bgReset {
        height: 80vh;
    }

    .bgRegister {
        height: 90vh;
    }

    .margeCheck {
        margin-top: 8rem ;
    }

    .margeReset {
        margin-top: 3.5rem;
    }

    .box {
        width: 100%;
    }
}