@import "variable.scss";

.marge{
    margin-top: 9rem;
}

.color {
    color: blueviolet;
}

.margeIns {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
    .marge {
    margin-top: 5rem;
    }

    .margeIns {
        margin-top: 3rem ;
    }
}

.required {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}