@import "variable.scss";

.backAdvertisement {

    height: 70.5vh;
    background-image: url("../images/advertisement/backAdvertisement.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}