@import "variable.scss";

.backAdvertisement {
    background-image: url("../images/advertisement/backAdvertisement.png");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;

}

@media screen and (max-width: 720px) {
    .backAdvertisement {
        background-image: none;
    }
}

@media screen and (min-width: 720px) {
    .backAdvertisement {
        height: 49.4rem;
    }
}