@import "variable.scss";

.formStyle {
    border-color: $primary;
    border-radius: $border;
    outline-color: $primary;
    background-color: $dark;
    color: $light;
    appearance: listbox;
}

.eventImg {
    height: 67vh;
    width: clamp(21.5rem, 75vw, 74.5rem );
}

@media screen and (max-width: 768px) {
    .eventImg {
        height: 40vh;
    }
}