@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');


$primary: #A60000;
$dark:#0c0000;
$light:#f1f1f1;

$font-size-welcome:8rem;

$font-family-welcome:'Tangerine';
$font-family-title: 'Merienda';