{% block stylesheets %}
	{{ encore_entry_link_tags('footer') }}
{% endblock %}

<div class="grad d-flex justify-content-between align-items-center">
  <div>
    <a class="mx-3" href="https://www.facebook.com/groups/628145583989472"
      ><i class="bi bi-facebook fs-3 text-light"></i
    ></a>
    <a href="https://discord.com/"><i class="bi bi-discord fs-3 text-light"></i></a>
  </div>
  <div class="d-flex flex-column align-items-center my-2">
    <div class="d-flex justify-content-center align-items-center">
      <a class="footerLink text-light fs-6" href="https://camarilla.fr/forum/">Camarilla-fr.com</a>
      <p class="mx-2 mb-0 text-light fs-6">|</p>
      <a class="footerLink text-light fs-6" href="#">Mentions légales</a>
    </div>
    <div>
      <a class="footerLink text-light fs-6" href="/">Les terres d’acionna</a>
    </div>
  </div>
  <div class="me-3">
    <a href="#"><i class="bi bi-arrow-up-circle-fill fs-3 text-primary"></i></a>
  </div>
</div>
