<nav id="sidebar" class="d-flex flex-column sticky-xl-top  p-3">
	<div class="d-flex flex-column align-items-center position-fixed">
			<button class="dropdown-btn">Hors jeu
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-container">
				<a href="#">vide</a>
			</div>
			<button class="dropdown-btn">EJ Evry
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-container">
				<a href="#">vide</a>
			</div>
			<button class="dropdown-btn">Clan
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-container">
				<a href="#">vide</a>
			</div>
			<a href="#" class="">
				<i class="bi bi-envelope"></i>Messagerie</a>
			<a href="/event" class="">
				<i class="bi bi-house-fill"></i>Accueil forum</a>
		</div>
</nav>