<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="d-flex flex-column align-items-center">
			<button class="dropdown-btn">Hors jeu
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-container">
				<a href="#">vide</a>
			</div>
			<button class="dropdown-btn">EJ Evry
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-container">
				<a href="#">vide</a>
			</div>
			<button class="dropdown-btn">Clan
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-container">
				<a href="#">vide</a>
			</div>
			<a href="#" class="">
				<i class="bi bi-envelope"></i>Messagerie</a>
			<a href="/event" class="">
				<i class="bi bi-house-fill"></i>Accueil forum</a>
		</div>
	</div>
</div>