<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
    <div>
      <a href="/"
        ><img
          src="{{ asset('build/images/logo.png') }}"
          class="w-75"
          alt="Logo"
      /></a>
    </div>
    <div>
      <a href="#"><i class="bi bi-robot fs-3 tobby"></i></a>
    </div>
  </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-lg-end align-items-center" id="navbar">
      <div class="navbar-nav">
      <div class="d-flex flex-column flex-lg-row align-items-center">
        <a class="nav-item link-light p-2 m-2" href="/">Accueil</a>
        <a class="nav-item link-light p-2 m-2" href="#">Camarilla-fr.com</a>
        <a class="nav-item link-light p-2 m-2" href="/contact">Contact</a>
        <a class="nav-item link-light p-2 m-2" href="#">Forum</a>
        <a class="nav-item link-light p-2 m-2" href="#">Inscription</a>
        <a class="nav-item link-light p-2 m-2" href="#">Connexion</a>
      </div>
      </div>
    </div>
  </div>
</nav>
