<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Les terres d'Acionna
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"/>
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<header>
			{% block navbar %}{% endblock %}
			{% block flashes %}
				{% include 'component/_flashes.html.twig'%}
			{% endblock %}
		</header>
		<main>
			{% block body %}{% endblock %}
		</main>
		<footer>
			{% block footer %}
				{% include "component/_footer.html.twig" %}
			{% endblock %}
		</footer>
		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
	</body>
</html>
