<h1>Félicitation votre compte viens d\'être activé par le bureau des terres d\'acionna</h1>
<br>
<p>Votre compte à été activer, vous pouvez maintenant profitez des aplications du site Les terres d\'acionna.</p>
<br>
<p>Cordialement</p>
<br>
<p><i>Le bureau des terres d\'acionna</i></p>