<h1>Votre compte viens d\'être désactivé par le bureau des terres d\'acionna</h1>
<br>
<p>Votre compte à été désactiver, vous ne pouvez plus profitez des aplications du site Les terres d\'acionna.</p>
<br>
<p>Si cela est une erreur veuillez contacter le bureau des terres d\'acionna via le formulaire de contact ou en cliquant sur ce lien :</p>
<br>
<a href="{{ path('contact')}}">Contacter le bureau</a>
<p>Cordialement</p>
<br>
<p><i>Le bureau des terres d\'acionna</i></p>