<h1>Un compte est en attente d'activation</h1>
<br>
<p>Un compte est en attente d'activation, veuillez procéder au manipulation nécessaire pour que l'utilisateur soit actif, la manipulation est la suivante:</p>
<br>
<ul>
	<li>Connectez vous sur votre compte Bureau</li>
	<li>Ouvrir la fenêtre où votre prénom est indiqué</li>
	<li>Sélectionné le lien <i>Administration</i></li>
	<li>Sélectionné l'onglet <i>Utilisateurs</i></li>
    <li>Sélectionné l'onglet <i>Tous les utilisateurs</i></li>
    <li>Sélectionné l'utilisateur qui n'est pas actif en utilisant le bouton à droite, <strong>attention ne jamais faire la modification sur l'index</strong> <i>...</i></li>
    <li>Sélectionné l'onglet <i>éditer</i></li>
    <li>Activer le compte grace au bouton <i>Activation du compte</i></li>
    <li>Sélectionné le ou les rôles de l'utilisateur, <strong>attention il ne doit pas être vide sinon il n'aura aucun droit</strong></li>
    <li>Appuyer sur le bouton <i>Sauvegarder les modification</i></li>
</ul>
<p>Si le compte est inconnu veuillez le supprimer, avec la manipulation suivante :</p>
<br>
<ul>
	<li>Connectez vous sur votre compte Bureau</li>
	<li>Ouvrir la fenêtre où votre prénom est indiqué</li>
	<li>Sélectionné le lien <i>Administration</i></li>
	<li>Sélectionné l'onglet <i>Utilisateurs</i></li>
    <li>Sélectionné l'onglet <i>Tous les utilisateurs</i></li>
    <li>Sélectionné l'utilisateur qui n'est pas actif en utilisant le bouton à droite <i>...</i></li>
    <li>Sélectionné l'onglet <i>supprimer</i></li>
    <li>Une fenêtre va s'ouvrir, pour vous demandez si vous êtes sûr de vouloir supprimer cet utilisateur</li>
    <li>Cliquez sur <i>oui</i></li>
</ul>
<br>
<p>Cordialement</p>
<br>
<p>
	<i>Toby la goule de l'administrateur</i>
</p>
